name: Docker Compose Deployment with Shell

on:
  push:
    branches: [ "deploy"]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Run deployment script
      run: |
        ls
        pwd
        chmod +x ./deploy/deploy.sh
        ./deploy/deploy.sh
      shell: bash
